<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelPath" value="D:\selenium\AKA\AkaNewMedia\TestFramework\ExcelSheet\Aka_Excel_Sheet.xlsx"/>
    <add key="Url" value="https://tx.akaraisin.com/Donation/Event/Home.aspx?seid=16535&amp;mid=8"/>
    <add key="Url1" value="https://m-TX.akaraisin.com/16572"/>
    <add key="FromEmail" value="gunjangarg1604@gmail.com"/>
    <add key="FromPassword" value="pass@1234"/>
  </appSettings>
</configuration>